.factura-container {
    font-family: 'Roboto', sans-serif;
    width: 100%; 
    max-width: 900px; 
    margin: 0 auto; 
    padding: 20px; 
    border-radius: 8px; 
    background: #ffffff; 
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1); 
}

mat-form-field {
    
    width: 100%; 
    margin-bottom: 50px; 
}


button {
    width: 100%; 
    margin-top: 16px; 
}
mat-datepicker-toggle {
    vertical-align: middle; /* Alinea el ícono verticalmente con el input */
}



