
  <div class="toolbar">
    <div class="top-bar">
    <i class="store-icon"></i>
  </div>

    <div class="right-column">
    <a routerLink="user-view"class="option"><i class="option-icon"></i>Mi perfil</a>
    <a routerLink="crearfactura" class="option"><i class="option-icon2"></i>Crear factura</a>
    <a routerLink="verfactura" class="option"><i class="option-icon3"></i>Ver Facturas</a>
    <a routerLink="crearcartera" class="option"><i class="option-icon2"></i>Crear cartera</a>
    <a routerLink="vercartera" class="option"><i class="option-icon3"></i>Ver Carteras</a>
    <a routerLink="" class="option"><i class="option-icon3"></i>Liquidación</a>
  </div>
</div>