
  <div class="toolbar">
    <div class="top-bar">
    <i class="store-icon"></i>
  </div>

    <div class="right-column">
    <a routerLink="user-view"class="option"><i class="option-icon"></i>Mi perfil</a>
    <a routerLink="crearfactura" class="option"><i class="option-icon2"></i>Crear factura</a>
    <a href="#" class="option"><i class="option-icon3"></i>Ver Facturas</a>
    <a href="#" class="option"><i class="option-icon2"></i>Crear Letras</a>
    <a href="#" class="option"><i class="option-icon3"></i>Ver Letras</a>
    <a href="#" class="option"><i class="option-icon2"></i>Crear Cartera</a>
    <a href="#" class="option"><i class="option-icon3"></i>Ver Carteras</a>
  </div>
</div>