.facturas-container {
  display: grid;
  gap: 16px; 
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  max-width: 1200px; 
  
  }
  @media (min-width: 1200px) {
    .facturas-container {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  
  .factura-card {
    width: 300px;
  }